
#imageFeed {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: 50px auto;
    padding: 20px;
    width: 500px;
}

#imageFeed .feed {
    border-top: 1px solid #000000;
}

#imageFeed .feed .image {
    background-position: 50% 50%;
    background-size: cover;
    height: 250px;
}

#imageFeed .feed .author {
    font-style: italic;
}

#imageFeed .feed .created {}

#imageFeed .feed .desc {}







