
#imageFeed {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin: 50px auto;
    width: 540px;
}

#imageFeed .feed {
    border-top: 1px solid #000000;
    padding: 20px;
}

#imageFeed .feed .image {
    background-position: 50% 50%;
    background-size: cover;
    display: block;
    height: 500px;
}

#imageFeed .feed .author {
    font-style: italic;
}

#imageFeed .feed .created {
    float: right;
}

#imageFeed .feed .desc {}

#imageFeed .feed .likes {}

#imageFeed .feed .comments {
    border-top: 1px solid #000000;
}

#imageFeed .feed .comments .comment {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

#imageFeed .feed .comments .comment .commenter {
    font-style: italic;
}

#imageFeed .feed .comments .comment .theComment {}


