@(Feed: is.ru.honn.rustagram.domain.Feed, RustagramService: is.ru.honn.rustagram.service.RustagramService)

@main(title = "Home", nav = "index") {
    <h2>Uploader: @Feed.getCreatorUsername()</h2>
    <li> <img src="@{Feed.getUrl}" /></li>
    <p>Description: @Feed.getDescription</p>

    <p>Likes: @RustagramService.getLikesOnImage(Feed.getId)</p>
    <p><a class="btn" href="@{RustagramService.addLikeOnImage(Feed.getId, RustagramService.getUser("einar"))}">Like</a></p>


    <p>Comments: @RustagramService.getCommentsOnImage(Feed.getId)</p>
}