@(Feed: is.ru.honn.rustagram.domain.Feed, RustagramService: is.ru.honn.rustagram.service.RustagramService)

@main(title = "Home", nav = "index") {
    <h2>Uploader: @Feed.getCreatorUsername()</h2>
    <li> <img src="@{Feed.getUrl}" /></li>
    <p>Description: @Feed.getDescription</p>

    <p>Likes: @RustagramService.getLikesOnImage(Feed.getId)</p>
    <p><a class="btn" href="@{RustagramService.addLikeOnImage(Feed.getId, RustagramService.getUser("einar"))}">Like</a></p>

    @if(Feed.getComments() != null) {
    @for(comment <- Feed.getComments()) {
        <div class="comment">
            <div class="commenter">@comment.getCreatorUsername()</div>
            <div class="theComment">@comment.getComment()</div>
        </div>
    }
    } else {
        <p>No comments yet!</p>
    }

}