@(feedList: List[is.ru.honn.rustagram.domain.Feed])
@import play.api.Play.current

@main(title = "Welcome") {

    <h2>Welcome to Rustagram</h2>

    @if(session.get("username")) {

        <h3>Good to see you again @{session.get("displayName")}!</h3>

        @for(feed <- feedList) {

            <p>@feed.getId()</p>
        }

    } else {

        <h3>Looks like you're new here! Welcome!</h3>
        <p>
            <a class="btn" href="@routes.Users.showSignupForm()">Sign up</a>
            <a class="btn" href="@routes.Users.showLoginForm()">Login</a>
        </p>
    }
}