@(feedList: List[is.ru.honn.rustagram.domain.Feed])
@import play.api.Play.current

@main(title = "Welcome") {

    <h2>Welcome to Rustagram</h2>

    @if(session.get("username")) {

        <h3>Good to see you again @{session.get("displayName")}!</h3>

        <div id="imageFeed">
        @for(feed <- feedList) {
            <div class="feed">
                <a class="image" href="/imageinfo/@feed.getId()" style="background-image: url('@feed.getUrl()')"></a>
                <div class="author">@feed.getCreatorDisplayName()</div>
                <div class="created">@feed.getCreated()</div>
                <div class="desc">@feed.getDescription()</div>
                <div class="likes"></div>
                <div class="comments">
                @for(comment <- feed.getComments()) {
                    <div class="comment">
                        <div class="commenter">@comment.getCreatorUsername()</div>
                        <div class="theComment">@comment.getComment()</div>
                    </div>
                }
                </div>
            </div>
        }
        </div>

    } else {

        <h3>Looks like you're new here! Welcome!</h3>
        <p>
            <a class="btn" href="@routes.Users.showSignupForm()">Sign up</a>
            <a class="btn" href="@routes.Users.showLoginForm()">Login</a>
        </p>
    }
}