@(signupForm: Form[is.ru.honn.rustagram.domain.UserRegistration])

@import helper._
@import helper.twitterBootstrap._

@main(title = "Signup", nav = "signup") {
    @helper.form(action = routes.Users.processSignupForm) {
        <fieldset>
            <legend>Signup details</legend>
            @inputText(
                signupForm("Name"),
                '_label -> "Your name",
                '_help -> "Please enter your name.",
                '_error -> signupForm.globalError
            )
            @inputText(
                signupForm("username"),
                '_label -> "Username",
                '_help -> "Please enter your desired username.",
                '_error -> signupForm.globalError
            )
            @inputPassword(
                signupForm("password"),
                '_label -> "Password",
            '_help -> "Password must be at least 4 characters.",
            '_error -> signupForm.globalError
            )
            @inputPassword(
                signupForm("Password"),
                '_label -> "Password again",
                '_help -> "Please enter your password again.",
                '_error -> signupForm.globalError
            )
            @inputText(
                signupForm("email"),
                '_label -> "Email",
                '_help -> "Please enter your email.",
                '_error -> signupForm.globalError
            )
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Signup">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
    }
}